@model int

<h2>Add a book review</h2>

<div class="form-horizontal">
    <form asp-controller="Admin" asp-action="AddBookReview" method="post">
        <!-- Input and Submit elements -->
        <input name="BookId" type="hidden" value="@Model" />
        
        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label">Book Title</label>
            </div>
            <div class="col-sm-10">
                @ViewData["BookTitle"]
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label">YourName</label>
            </div>
            <input name="VoterName" class="form-control col-sm-10" />
        </div>
        
        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label">Grade (0 to 5)</label>
            </div>
            <input name="NumStars" min="0" max="5" class="form-control col-sm-10" />
        </div>
        
        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label">Your comment</label>
            </div>
            <textarea  name="Comment" class="form-control col-sm-10"></textarea>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit">Update</button>
            </div>
        </div>

    </form>
</div>